<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConnecetionManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RememberMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ServiceManagers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iLMS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C772DD9197838F0001D4704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C772DE6197838F0001D4704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C772DFF1978393D001D4704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C772E0C1978393D001D4704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC3B9CA1976F2A2006BEA9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC3B9D71976F2A2006BEA9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE67187192E5E3600FCBB66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
